<div class="historique" id="historique">
    <h3 class="kilometre">Frais totaux : <%=  %> €</h3>
    <div class="col-cards container">
        <div class="row">
            <% @historique.order(:id).each do |historique| %>
            <div class="col col-lg-4 col-md-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"><%= historique.operation.nom %></h2>
                        <div class="aaaa">

                        </div>
                        <hr class="horizontal-line hr-userindex">
                        <button type="button" class="btn-historique" data-toggle="modal" data-target="#entretien-<%= historique.id %>"><small class="small">Le <%= historique.date %></small></button>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>


<% @historique.order(:id).each do |histo| %>
    <div id="entretien-<%= histo.id %>" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content modal-new-entretien">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bbbb">

                            </div>

                        </div>
                        <div class="col-md-8">
                            <h3><%= histo.operation.nom %></h3>
                            <hr class="horizontal-line hr-userindex">
                            <p>Réalisé le <%= histo.date %></p>
                            <p><%= histo.description %></p>
                            <p><%= histo.prix %>€</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
