<section class="section-userindex container">

    <h1 class="vosmotos"><%= @moto.modele.marque.nom %> <%= @moto.modele.nom %></h1>

    <hr class="horizontal-line hr-detail">

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-3 col-md-12 col-sm-12 col-xs-12 col-detail">
                <h4 class="detail-titre">Moteur :</h4>
                <p class="detail">
                               Bicylindre en L à 90°, 4 temps
                               Refroidissement : Refroidissement par air
                               Injection Ø 45 mm
                               1 ACT, desmodromique
                               2 soupapes par cylindre
                               803 cc (88 x 66 mm)
                               87 ch à 8250 tr/min
                               8 mkg à 6250 tr/min
                               Rapport poids / puissance : 1.92 kg/ch
                </p>

                <h4 class="detail-titre">Transmission :</h4>
                <p class="detail">
                               Boite à 6 rapports
                               Transmission secondaire par chaine
                </p>
            </div>

            <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="upload-btn-wrapper container">

                </div>
                <small class="changerPhoto">Cliquez sur la photo pour la changer !</small>
            </div>

            <div class="col col-lg-3 col-md-12  col-sm-12 col-xs-12">
                <h4 class="detail-titre">Chassis :</h4>
                <p class="detail">
                               Cadre : Treillis tubulaire en acier
                               Réservoir : 15 litres
                               Hauteur de selle : 800 mm
                               Empattement : 1450 mm
                               Poids à sec : 167 kg
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <h1 class="vosmotos">Votre moto</h1>
    <hr class="horizontal-line hr-votre-moto">
    <nav class="navbar navbar-expand-lg navbar-dark " id="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav mx-auto">
              <li class="nav_item">
                  <a class="nav-link nav_detail" id="suivi" onclick="sante();">Santé moto</a>
              </li>
              <li class="nav_item">
                  <a class="nav-link nav_detail" onclick="km();">Mise à jour km</a>
              </li>
              <li class="nav_item">
                  <a class="nav-link nav_detail" onclick="entretien();">Ajouter entretien</a>
              </li>
              <li class="nav_item">
                  <a class="nav-link nav_detail" onclick="historique();">Historique</a>
              </li>

              <li class="nav_item">
                  <%= link_to "Supprimer moto", moto_destroy_path, method: "delete", class: "nav-link nav_detail", data: {confirm: "Veux-tu vraiment supprimer cette moto ?"} %>
              </li>
          </ul>
      </div>
    </nav>

    <%= render 'shared/sante' %>
    <%= render 'shared/km' %>
    <%= render 'shared/entretien' %>
    <%= render 'shared/historique' %>






    <script>
        divSante = document.getElementById('sante-moto');
        divKm = document.getElementById('maj-km');
        divEntretien = document.getElementById('entretien');
        divHistorique = document.getElementById('historique');

        function sante(){
            divSante.style.display = "block";
            divKm.style.display = "none";
            divEntretien.style.display = "none";
            divHistorique.style.display = "none";
        }

        function km(){
            divSante.style.display = "none";
            divKm.style.display = "block";
            divEntretien.style.display = "none";
            divHistorique.style.display = "none";
        }

        function entretien(){
            divSante.style.display = "none";
            divKm.style.display = "none";
            divEntretien.style.display = "block";
            divHistorique.style.display = "none";
        }

        function historique(){
            divSante.style.display = "none";
            divKm.style.display = "none";
            divEntretien.style.display = "none";
            divHistorique.style.display = "block";
        }

    </script>
</section>

<%#= javascript_pack_tag 'sante' %>
